*{
margin:0;
padding:0;
box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f8f9;
  button{
    height: 45px;
    width: 120px;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 5px;
    }
    
  }
li{
  list-style-type: none;
}  
/*header*/
header{
  width: 100%;
  height: 130px;
  background-color: white;
  margin-bottom:70px ;
  
  
}
header div {
  padding-top: 20px;
  padding-left:40px ;
}

header div h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 70px;
  
}
header div img{
  vertical-align: middle;
  width: 90px;
  height: 90px;
}
/*MAIN*/
.container{
  max-width: 1400px;
  margin: auto;
  margin-bottom: 4px;
  background-color: white;
  
}
.container.top{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 85px ;
}
#add-task {
  margin-left: 80px;
  background-color: #47adf1;
  color: white;
  border: none;
    
}
#add-section {
  color: #cfd4d8;
  border-color: #cfd4d8;
  background-color: white;
  border: 2px solid;
}
.container.bottom{
  height: 1000px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.list{
  
  padding-left: 90px;

}
li{
  font-size: 20px;
  margin-bottom:10px ;
}
.main-li{
  padding-top: 66px;
  margin-bottom: 30px;
  font-size:30px;
  font-weight: bold;

}
